table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  color: black;
  opacity: 54%;
  @media (max-width: 767px) {
    padding: 8px;
  }
}

td {
  //padding-top: 10px;
  //padding-bottom: 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  @media (max-width: 767px) {
    padding: 8px;
  }
}

tr:hover {
  background: whitesmoke;

}

img {
  padding-right: 7px;
}

.trainer-column {
  @media (max-width: 767px) {
    display: none;
  }
}

.pc-visible {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile-visible {
  @media (max-width: 1260px) {
    display: none;
  }
  @media (max-width: 767px) {
    display: table-cell;
  }
}
