<div class="wrapper">
  <div class="container">
    <div class="menu mobile-hidden">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Главная</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Выход</span>
        </button>
      </mat-menu>
    </div>
    <div class="plan">
      <div class="menu inline-block pc-hidden">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Главная</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Выход</span>
          </button>
        </mat-menu>
      </div>
      <div class="inline-block pc-hidden mobile-header">Обучение</div>
      <div class="inline-block mobile-menu plus">
      <button [matMenuTriggerFor]="menu1" mat-button class="planning-button">
        <p class="mobile-hidden">+ Запланировать</p>
        <p class="pc-hidden">+</p>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item [routerLink] = "['/planning/group/new']">
          <span>Групповое</span>
        </button>
        <button mat-menu-item [routerLink] = "['/planning/individual/new']">
          <span>Индивидуальное</span>
        </button>
      </mat-menu>
      </div>
    </div>
    <div class="header mobile-hidden">
      <p class="trail">Главная — Планирование</p>
      <img src="https://i.ibb.co/1QYgrVg/Union.png" alt="logo">
      <h1>Планирование</h1>
    </div>
    <div class="main">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Групповое">
          <app-main-group></app-main-group>
        </mat-tab>
        <mat-tab label="Индивидуальное">
          <app-main-individual></app-main-individual>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

