<div class="container">
  <div class="search">
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Поиск</mat-label>
      <input matInput type="search" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="program">
    <mat-form-field appearance="fill">
      <mat-label>Программа</mat-label>
      <mat-select>
        <mat-option value="all">Все</mat-option>
        <mat-option value="option1">Страхование с заботой и клиенте</mat-option>
        <mat-option value="option2">Главные правила продаж</mat-option>
        <mat-option value="option3">Первичное обучение КС</mat-option>
        <mat-option value="option4">Вторичное обучение КС</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="date">
    <mat-form-field appearance="fill">
      <mat-label>Период</mat-label>
      <mat-select>
        <mat-option value="all">Все</mat-option>
        <mat-option value="option1">Июнь 2021</mat-option>
        <mat-option value="option2">Июль 2021</mat-option>
        <mat-option value="option3">Август 2021</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="status">
    <mat-form-field appearance="fill">
      <mat-label>Статус</mat-label>
      <mat-select>
        <mat-option value="all">Все</mat-option>
        <mat-option value="option1">Завершён</mat-option>
        <mat-option value="option2">В процессе</mat-option>
        <mat-option value="option3">Запланирован</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="count">
    <p>{{trainings.length | sessionsQuantityTitle}}</p>
  </div>
  <div class="settings">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>tune</mat-icon>
      Настроить фильтры
    </button>
    <mat-menu #menu="matMenu">
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
      <mat-checkbox>Check me!</mat-checkbox>
    </mat-menu>
  </div>
  <div class="clear">
    <button mat-button>
      <mat-icon>close</mat-icon>
      Сбросить
    </button>
  </div>
</div>
